pip==18.0.0
setuptools==40.0.0
asn1crypto==0.24.0
bcrypt==3.1.4
boto3==1.7.67
botocore==1.10.67
cffi==1.11.5
cryptography==2.3
jmespath==0.9.3
pyasn1==0.4.4
pycparser==2.18
pycrypto==2.6.1
requests==2.19.1
urllib3==1.25.3
pymongo==3.10.1
pyparsing==2.4.6
dnspython==1.16.0
idna==2.8
kiwisolver==1.1.0
lxml==4.5.0
multitasking==0.0.9
certifi==2019.6.16
chardet==3.0.4
six==1.14.0
wrapt==1.11.2
